.bar-chart-home__container {
  // border: 1px dotted green;
  // background-color: #ffff5a;
  box-shadow: 0 0 5px 1px teal;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px;
  padding: 1rem;

  // &:hover {
  //   box-shadow: 0 0 5px 0px teal;
  // }
}
