@import './../../../../stylesheets/base/layout';

a {
  color: blue;
}

.app__container {
  // background-color: $background-color;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  // margin-top: $navbar-height;
  min-height: 100vh;
}
