.btn {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: none;
  // color: $button-text-color;
  font-size: 2rem;
  font-weight: bold;
  min-width: 3rem;
  padding: 0.3rem 0.6rem;

  transition: all 0.1s;

  &:hover {
    border: 1px solid gray;
    box-shadow: 0 0 2px black;
  }
}
