$base-color: lightblue;

.tooltip__container {
  box-shadow: 2px 2px 2px gray;
  color: #111;
  background-color: rgba($base-color, 0.85);
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  transition: all 0.1s;
  pointer-events: none;

  & span {
    font-weight: normal;
  }
}
