.tooltip__container {
  background-color: gray;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.9;
  padding: 0.3rem 0.3rem;
  transition: all 0.1s;
  pointer-events: none;
}
