nav {
  background-color: #f4f1ea;
  color: #382110;
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: center;
  position: fixed;
  width: 100%; }

nav > div {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 0.5rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 960px;
  width: 100%; }

.navbar__project-div {
  flex: 1;
  text-align: center;
  text-transform: capitalize; }

.navbar__image-div {
  background-image: url("/images/medium-m-color-100px.png");
  background-size: cover;
  cursor: pointer;
  height: 2rem;
  transition: transform 0.3s;
  width: 2rem; }
  .navbar__image-div:hover {
    transform: scale(1.5); }
.app__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh; }
.bar__rect {
  fill: teal; }
.tooltip__container {
  background-color: gray;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.9;
  padding: 0.3rem 0.3rem;
  transition: all 0.1s;
  pointer-events: none; }
.bar-chart__title {
  font-size: 2rem; }
.bar-chart-home__container {
  box-shadow: 0 0 5px 1px teal;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px;
  padding: 1rem; }
.home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px; }
.key__container button {
  font-size: 2rem;
  height: 5rem;
  width: 5rem; }
.numpad__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 10rem;
  justify-content: space-around;
  width: 20rem; }
  .numpad__container :last-child button {
    min-width: 20rem; }
.screen__container {
  align-items: center;
  border: 1px solid gray;
  display: flex;
  font-size: 1.8rem;
  justify-content: flex-end;
  min-height: 5rem;
  max-width: 20rem; }
.calculator__component {
  margin: auto; }
.dataRow__container {
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  width: 100%; }
  .dataRow__container div:nth-child(1) {
    width: 2rem; }
  .dataRow__container img {
    height: 20px; }
  .dataRow__container:hover {
    background-color: #a9c4f5;
    font-weight: bold; }
    .dataRow__container:hover img {
      box-shadow: 0 0 5px gray;
      height: 40px;
      transform: scale(2); }
    @media (max-width: 550px) {
      .dataRow__container:hover img {
        transform: scale(1.5);
        margin-right: 1rem; } }

.dataRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.dataRow__username {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start; }
  @media (max-width: 550px) {
    .dataRow__username {
      font-size: 0.9rem; } }
  .dataRow__username img {
    margin: auto 3rem; }
    @media (max-width: 550px) {
      .dataRow__username img {
        margin: auto 0.2rem; } }

.dataRow__count {
  width: 5rem; }
.titleRow__container {
  border: 2px solid lightgray;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  width: 100%; }
  .titleRow__container div:nth-child(1) {
    width: 2rem; }

.titleRow {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 2rem;
  justify-content: center; }

.highlight-recent,
.highlight-alltime {
  background-color: #6495ed;
  color: white; }

.titleRow__count {
  padding: 0.5rem;
  width: 5rem; }

.titleRow__username {
  flex: 1; }
.leaderboard-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 760px;
  width: 90vw; }

.leaderboard-home__title {
  font-weight: bold;
  color: red; }
.dungeon-crawler-cell__container {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 12px;
  width: 12px; }
  .dungeon-crawler-cell__container.fill--hero {
    background-color: blue; }
  .dungeon-crawler-cell__container.fill--black {
    background-color: black; }
  .dungeon-crawler-cell__container.fill--gray {
    background-color: darkgray; }
  .dungeon-crawler-cell__container.fill--enemy {
    color: yellow;
    background-color: black; }
  .dungeon-crawler-cell__container.fill--health {
    color: red;
    background-color: darkgray; }
  .dungeon-crawler-cell__container.fill--weapon {
    color: black;
    background-color: darkgray; }
  .dungeon-crawler-cell__container.fill--wall {
    background-color: brown; }
  .dungeon-crawler-cell__container.fill--boss {
    color: red;
    background-color: black; }
.row__container {
  display: flex;
  flex-direction: row; }
.dungeon-crawler-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem auto;
  margin-top: 5rem;
  width: auto; }

.dungeon-crawler-home__game-status {
  color: red;
  font-size: 2rem;
  font-weight: bold; }

.dungeon-crawler-home__board {
  border: 1px dotted gray; }
/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */
.flag {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url("https://s3.amazonaws.com/vj-fcc/flags.png") no-repeat; }

.flag.flag-gu {
  background-position: -96px -55px; }

.flag.flag-mn {
  background-position: -208px -88px; }

.flag.flag-va {
  background-position: -48px -154px; }

.flag.flag-tibet {
  background-position: -32px -143px; }

.flag.flag-fo {
  background-position: -64px -44px; }

.flag.flag-th {
  background-position: -16px -143px; }

.flag.flag-tr {
  background-position: -144px -143px; }

.flag.flag-tl {
  background-position: -80px -143px; }

.flag.flag-kz {
  background-position: -144px -77px; }

.flag.flag-zm {
  background-position: -16px -165px; }

.flag.flag-uz {
  background-position: -32px -154px; }

.flag.flag-dk {
  background-position: -64px -33px; }

.flag.flag-scotland {
  background-position: -176px -121px; }

.flag.flag-gi {
  background-position: -224px -44px; }

.flag.flag-gy {
  background-position: -128px -55px; }

.flag.flag-bj {
  background-position: -112px -11px; }

.flag.flag-fr {
  background-position: -80px -44px; }

.flag.flag-mo {
  background-position: -224px -88px; }

.flag.flag-ir {
  background-position: -112px -66px; }

.flag.flag-io {
  background-position: -80px -66px; }

.flag.flag-tm {
  background-position: -96px -143px; }

.flag.flag-ch {
  background-position: -96px -22px; }

.flag.flag-mt {
  background-position: -32px -99px; }

.flag.flag-nl {
  background-position: -240px -99px; }

.flag.flag-gp {
  background-position: -16px -55px; }

.flag.flag-im {
  background-position: -48px -66px; }

.flag.flag-tv {
  background-position: -176px -143px; }

.flag.flag-mu {
  background-position: -48px -99px; }

.flag.flag-pe {
  background-position: -96px -110px; }

.flag.flag-vi {
  background-position: -112px -154px; }

.flag.flag-hn {
  background-position: -176px -55px; }

.flag.flag-ss {
  background-position: -128px -132px; }

.flag.flag-ae {
  background-position: -16px 0; }

.flag.flag-td {
  background-position: -240px -132px; }

.flag.flag-pw {
  background-position: 0 -121px; }

.flag.flag-nu {
  background-position: -32px -110px; }

.flag.flag-bt {
  background-position: -208px -11px; }

.flag.flag-ms {
  background-position: -16px -99px; }

.flag.flag-cv {
  background-position: -240px -22px; }

.flag.flag-es {
  background-position: -224px -33px; }

.flag.flag-mh {
  background-position: -144px -88px; }

.flag.flag-la {
  background-position: -160px -77px; }

.flag.flag-vn {
  background-position: -128px -154px; }

.flag.flag-py {
  background-position: -16px -121px; }

.flag.flag-br {
  background-position: -176px -11px; }

.flag.flag-ye {
  background-position: -224px -154px; }

.flag.flag-ie {
  background-position: 0 -66px; }

.flag.flag-gh {
  background-position: -208px -44px; }

.flag.flag-cg {
  background-position: -80px -22px; }

.flag.flag-cu {
  background-position: -224px -22px; }

.flag.flag-hu {
  background-position: -224px -55px; }

.flag.flag-sg {
  background-position: -224px -121px; }

.flag.flag-at {
  background-position: -176px 0; }

.flag.flag-lk {
  background-position: -224px -77px; }

.flag.flag-vu {
  background-position: -144px -154px; }

.flag.flag-bo {
  background-position: -160px -11px; }

.flag.flag-jo {
  background-position: -208px -66px; }

.flag.flag-er {
  background-position: -208px -33px; }

.flag.flag-za {
  background-position: -256px -154px; }

.flag.flag-rs {
  background-position: -80px -121px; }

.flag.flag-nr {
  background-position: -16px -110px; }

.flag.flag-ls {
  background-position: -256px -77px; }

.flag.flag-jm {
  background-position: -192px -66px; }

.flag.flag-tz {
  background-position: -208px -143px; }

.flag.flag-ki {
  background-position: -16px -77px; }

.flag.flag-sj {
  background-position: 0 -132px; }

.flag.flag-cz {
  background-position: -16px -33px; }

.flag.flag-pg {
  background-position: -128px -110px; }

.flag.flag-lv {
  background-position: -32px -88px; }

.flag.flag-do {
  background-position: -96px -33px; }

.flag.flag-lu {
  background-position: -16px -88px; }

.flag.flag-no {
  background-position: -256px -99px; }

.flag.flag-kw {
  background-position: -112px -77px; }

.flag.flag-mx {
  background-position: -96px -99px; }

.flag.flag-yt {
  background-position: -240px -154px; }

.flag.flag-ly {
  background-position: -48px -88px; }

.flag.flag-cy {
  background-position: 0 -33px; }

.flag.flag-ph {
  background-position: -144px -110px; }

.flag.flag-my {
  background-position: -112px -99px; }

.flag.flag-sm {
  background-position: -48px -132px; }

.flag.flag-et {
  background-position: -240px -33px; }

.flag.flag-ru {
  background-position: -96px -121px; }

.flag.flag-tj {
  background-position: -48px -143px; }

.flag.flag-ai {
  background-position: -64px 0; }

.flag.flag-pl {
  background-position: -176px -110px; }

.flag.flag-kp {
  background-position: -64px -77px; }

.flag.flag-uy {
  background-position: -16px -154px; }

.flag.flag-gb {
  background-position: -112px -44px; }

.flag.flag-gs {
  background-position: -64px -55px; }

.flag.flag-kurdistan {
  background-position: -96px -77px; }

.flag.flag-rw {
  background-position: -112px -121px; }

.flag.flag-ec {
  background-position: -128px -33px; }

.flag.flag-mm {
  background-position: -192px -88px; }

.flag.flag-pa {
  background-position: -80px -110px; }

.flag.flag-wales {
  background-position: -160px -154px; }

.flag.flag-kg {
  background-position: -256px -66px; }

.flag.flag-ve {
  background-position: -80px -154px; }

.flag.flag-tk {
  background-position: -64px -143px; }

.flag.flag-ca {
  background-position: -16px -22px; }

.flag.flag-is {
  background-position: -128px -66px; }

.flag.flag-ke {
  background-position: -240px -66px; }

.flag.flag-ro {
  background-position: -64px -121px; }

.flag.flag-gq {
  background-position: -32px -55px; }

.flag.flag-pt {
  background-position: -256px -110px; }

.flag.flag-tf {
  background-position: -256px -132px; }

.flag.flag-ad {
  background-position: 0 0; }

.flag.flag-sk {
  background-position: -16px -132px; }

.flag.flag-pm {
  background-position: -192px -110px; }

.flag.flag-om {
  background-position: -64px -110px; }

.flag.flag-an {
  background-position: -112px 0; }

.flag.flag-ws {
  background-position: -192px -154px; }

.flag.flag-sh {
  background-position: -240px -121px; }

.flag.flag-mp {
  background-position: -240px -88px; }

.flag.flag-gt {
  background-position: -80px -55px; }

.flag.flag-cf {
  background-position: -64px -22px; }

.flag.flag-zanzibar {
  background-position: 0 -165px; }

.flag.flag-mw {
  background-position: -80px -99px; }

.flag.flag-catalonia {
  background-position: -32px -22px; }

.flag.flag-ug {
  background-position: -240px -143px; }

.flag.flag-je {
  background-position: -176px -66px; }

.flag.flag-km {
  background-position: -32px -77px; }

.flag.flag-in {
  background-position: -64px -66px; }

.flag.flag-bf {
  background-position: -48px -11px; }

.flag.flag-mc {
  background-position: -80px -88px; }

.flag.flag-sy {
  background-position: -192px -132px; }

.flag.flag-sn {
  background-position: -64px -132px; }

.flag.flag-kr {
  background-position: -80px -77px; }

.flag.flag-eu {
  background-position: -256px -33px; }

.flag.flag-bn {
  background-position: -144px -11px; }

.flag.flag-st {
  background-position: -144px -132px; }

.flag.flag-england {
  background-position: -192px -33px; }

.flag.flag-lc {
  background-position: -192px -77px; }

.flag.flag-dm {
  background-position: -80px -33px; }

.flag.flag-be {
  background-position: -32px -11px; }

.flag.flag-ni {
  background-position: -224px -99px; }

.flag.flag-ua {
  background-position: -224px -143px; }

.flag.flag-mz {
  background-position: -128px -99px; }

.flag.flag-pf {
  background-position: -112px -110px; }

.flag.flag-tn {
  background-position: -112px -143px; }

.flag.flag-ee {
  background-position: -144px -33px; }

.flag.flag-xk {
  background-position: -208px -154px; }

.flag.flag-sx {
  background-position: -176px -132px; }

.flag.flag-sd {
  background-position: -192px -121px; }

.flag.flag-gd {
  background-position: -128px -44px; }

.flag.flag-ci {
  background-position: -112px -22px; }

.flag.flag-sz {
  background-position: -208px -132px; }

.flag.flag-cl {
  background-position: -144px -22px; }

.flag.flag-fi {
  background-position: 0 -44px; }

.flag.flag-ga {
  background-position: -96px -44px; }

.flag.flag-jp {
  background-position: -224px -66px; }

.flag.flag-de {
  background-position: -32px -33px; }

.flag.flag-np {
  background-position: 0 -110px; }

.flag.flag-re {
  background-position: -48px -121px; }

.flag.flag-bg {
  background-position: -64px -11px; }

.flag.flag-sc {
  background-position: -160px -121px; }

.flag.flag-ng {
  background-position: -208px -99px; }

.flag.flag-qa {
  background-position: -32px -121px; }

.flag.flag-mk {
  background-position: -160px -88px; }

.flag.flag-aw {
  background-position: -208px 0; }

.flag.flag-kn {
  background-position: -48px -77px; }

.flag.flag-al {
  background-position: -80px 0; }

.flag.flag-bw {
  background-position: -240px -11px; }

.flag.flag-um {
  background-position: -256px -143px; }

.flag.flag-ky {
  background-position: -128px -77px; }

.flag.flag-tt {
  background-position: -160px -143px; }

.flag.flag-so {
  background-position: -80px -132px; }

.flag.flag-lt {
  background-position: 0 -88px; }

.flag.flag-by {
  background-position: -256px -11px; }

.flag.flag-bb {
  background-position: 0 -11px; }

.flag.flag-us {
  background-position: 0 -154px; }

.flag.flag-md {
  background-position: -96px -88px; }

.flag.flag-ag {
  background-position: -48px 0; }

.flag.flag-hm {
  background-position: -160px -55px; }

.flag.flag-as {
  background-position: -160px 0; }

.flag.flag-eg {
  background-position: -160px -33px; }

.flag.flag-sv {
  background-position: -160px -132px; }

.flag.flag-sl {
  background-position: -32px -132px; }

.flag.flag-fk {
  background-position: -32px -44px; }

.flag.flag-am {
  background-position: -96px 0; }

.flag.flag-ck {
  background-position: -128px -22px; }

.flag.flag-tw {
  background-position: -192px -143px; }

.flag.flag-kh {
  background-position: 0 -77px; }

.flag.flag-to {
  background-position: -128px -143px; }

.flag.flag-se {
  background-position: -208px -121px; }

.flag.flag-cd {
  background-position: -48px -22px; }

.flag.flag-pn {
  background-position: -208px -110px; }

.flag.flag-gr {
  background-position: -48px -55px; }

.flag.flag-id {
  background-position: -256px -55px; }

.flag.flag-vc {
  background-position: -64px -154px; }

.flag.flag-somaliland {
  background-position: -96px -132px; }

.flag.flag-bi {
  background-position: -96px -11px; }

.flag.flag-pk {
  background-position: -160px -110px; }

.flag.flag-pr {
  background-position: -224px -110px; }

.flag.flag-bd {
  background-position: -16px -11px; }

.flag.flag-co {
  background-position: -192px -22px; }

.flag.flag-fm {
  background-position: -48px -44px; }

.flag.flag-bm {
  background-position: -128px -11px; }

.flag.flag-ar {
  background-position: -144px 0; }

.flag.flag-bv {
  background-position: -224px -11px; }

.flag.flag-sb {
  background-position: -144px -121px; }

.flag.flag-mq {
  background-position: -256px -88px; }

.flag.flag-eh {
  background-position: -176px -33px; }

.flag.flag-bh {
  background-position: -80px -11px; }

.flag.flag-it {
  background-position: -144px -66px; }

.flag.flag-hr {
  background-position: -192px -55px; }

.flag.flag-sa {
  background-position: -128px -121px; }

.flag.flag-mv {
  background-position: -64px -99px; }

.flag.flag-mg {
  background-position: -128px -88px; }

.flag.flag-dz {
  background-position: -112px -33px; }

.flag.flag-gg {
  background-position: -192px -44px; }

.flag.flag-gm {
  background-position: -256px -44px; }

.flag.flag-af {
  background-position: -32px 0; }

.flag.flag-li {
  background-position: -208px -77px; }

.flag.flag-sr {
  background-position: -112px -132px; }

.flag.flag-vg {
  background-position: -96px -154px; }

.flag.flag-cr {
  background-position: -208px -22px; }

.flag.flag-tc {
  background-position: -224px -132px; }

.flag.flag-ao {
  background-position: -128px 0; }

.flag.flag-ma {
  background-position: -64px -88px; }

.flag.flag-mr {
  background-position: 0 -99px; }

.flag.flag-gn {
  background-position: 0 -55px; }

.flag.flag-ne {
  background-position: -176px -99px; }

.flag.flag-nf {
  background-position: -192px -99px; }

.flag.flag-wf {
  background-position: -176px -154px; }

.flag.flag-hk {
  background-position: -144px -55px; }

.flag.flag-gf {
  background-position: -160px -44px; }

.flag.flag-ps {
  background-position: -240px -110px; }

.flag.flag-ic {
  background-position: -240px -55px; }

.flag.flag-cw {
  background-position: -256px -22px; }

.flag.flag-ml {
  background-position: -176px -88px; }

.flag.flag-ax {
  background-position: -224px 0; }

.flag.flag-gl {
  background-position: -240px -44px; }

.flag.flag-dj {
  background-position: -48px -33px; }

.flag.flag-cn {
  background-position: -176px -22px; }

.flag.flag-ht {
  background-position: -208px -55px; }

.flag.flag-lr {
  background-position: -240px -77px; }

.flag.flag-tg {
  background-position: 0 -143px; }

.flag.flag-ba {
  background-position: -256px 0; }

.flag.flag-ge {
  background-position: -144px -44px; }

.flag.flag-bz {
  background-position: 0 -22px; }

.flag.flag-au {
  background-position: -192px 0; }

.flag.flag-iq {
  background-position: -96px -66px; }

.flag.flag-cm {
  background-position: -160px -22px; }

.flag.flag-gw {
  background-position: -112px -55px; }

.flag.flag-az {
  background-position: -240px 0; }

.flag.flag-na {
  background-position: -144px -99px; }

.flag.flag-fj {
  background-position: -16px -44px; }

.flag.flag-zw {
  background-position: -32px -165px; }

.flag.flag-bs {
  background-position: -192px -11px; }

.flag.flag-il {
  background-position: -16px -66px; }

.flag.flag-nz {
  background-position: -48px -110px; }

.flag.flag-me {
  background-position: -112px -88px; }

.flag.flag-si {
  background-position: -256px -121px; }

.flag.flag-nc {
  background-position: -160px -99px; }

.flag.flag-lb {
  background-position: -176px -77px; }
#chart {
  position: relative; }

.flag {
  position: absolute; }
.force-graph-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1rem; }
.btn {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  height: 2rem;
  width: 8rem;
  max-width: 8rem;
  margin: auto 0.5rem; }

.btn-primary {
  background-color: #337ab7; }
  .btn-primary:hover {
    background-color: #285f8f; }

.btn-danger {
  background-color: #d9534f; }
  .btn-danger:hover {
    background-color: #c9302c; }
.cell__container {
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  min-height: 3px;
  min-width: 3px; }
  .cell__container.fill {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue; }
.controls__container {
  min-width: 27rem; }

.controls__form {
  display: flex;
  flex-direction: column; }
  .controls__form button {
    align-self: flex-end;
    max-width: 5rem; }
  .controls__form input {
    width: 3rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem; }
  .controls__form input[type=number]::-webkit-inner-spin-button,
  .controls__form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .controls__form label {
    font-size: 0.9rem; }

.controls__form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.controls__form-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
.row__container {
  display: flex;
  flex-direction: row; }
.game-of-life-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem auto;
  margin-top: 4rem; }

.game-of-life-home__settings {
  height: 6rem;
  margin-bottom: 1rem; }

.game-of-life-home__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.game-of-life-home__stats {
  height: 3rem;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.game-of-life-home__stat-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10%; }
.tooltip__container {
  box-shadow: 2px 2px 2px gray;
  color: #111;
  background-color: rgba(173, 216, 230, 0.85);
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  transition: all 0.1s;
  pointer-events: none; }
  .tooltip__container span {
    font-weight: normal; }
.heatmap-home__container {
  box-shadow: 0 0 5px 1px teal;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px;
  padding: 1rem; }
.home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px; }

hr {
  width: 100%; }
.temperature__container {
  border-radius: 5px;
  font-size: 3rem;
  padding: 0.5rem; }
  .temperature__container:hover {
    cursor: pointer; }
.home__container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  max-width: 50rem;
  padding: 2rem;
  padding-bottom: 0; }

.home__current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center; }

.home__forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }

.home__forecast-day {
  text-align: center;
  width: 9rem; }
  @media (max-width: 640px) {
    .home__forecast-day {
      padding: 0.5rem;
      margin-bottom: 2rem;
      width: 50%; } }
footer {
  font-size: 1rem;
  line-height: 0.8rem;
  padding: 0.5rem 0;
  padding-bottom: 1rem;
  text-align: center; }

footer a,
footer a:hover,
footer a:active {
  text-decoration: none; }
.app__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
.tooltip__container {
  box-shadow: 2px 2px 2px gray;
  color: #111;
  background-color: rgba(210, 180, 140, 0.85);
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 0.3rem;
  transition: all 0.1s;
  pointer-events: none; }
  .tooltip__container span {
    font-weight: normal; }
svg {
  background: lightsteelblue; }

.country {
  fill: lightgray;
  stroke: #333;
  stroke-width: 0.5; }

circle {
  fill: teal;
  stroke: #eee;
  opacity: 0.5; }
.map-graph-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px; }
.markdown-home__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 95vh;
  justify-content: space-around;
  width: 100vw; }
  @media (max-width: 700px) {
    .markdown-home__container {
      flex-direction: column; } }

.markdown-home__textarea {
  height: 80%;
  margin: 1rem;
  width: 45%; }
  .markdown-home__textarea textarea {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    outline: none;
    overflow: auto;
    padding: 1rem;
    resize: none;
    width: 100%; }
  @media (max-width: 700px) {
    .markdown-home__textarea {
      min-width: 90%;
      height: 45%;
      margin-bottom: 0; }
      .markdown-home__textarea textarea {
        height: 100%; } }

.markdown-home__output {
  box-shadow: 0 0 3px gray;
  height: 80%;
  margin: 1rem;
  width: 45%;
  overflow: auto;
  padding: 1rem; }
  .markdown-home__output p {
    word-wrap: break-word; }
  @media (max-width: 700px) {
    .markdown-home__output {
      min-width: 90%;
      height: 40%; } }
.btn {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: none;
  font-size: 2rem;
  font-weight: bold;
  min-width: 3rem;
  padding: 0.3rem 0.6rem;
  transition: all 0.1s; }
  .btn:hover {
    border: 1px solid gray;
    box-shadow: 0 0 2px black; }
.controls__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .controls__container .btn {
    font-weight: bold;
    margin: 1rem; }
  .controls__container .btn[value="Start"] {
    color: darkblue; }
  .controls__container .btn[value="Stop"] {
    color: red; }
  .controls__container .btn[value="Reset"] {
    color: red; }
.pomodoro__container {
  align-items: center;
  display: flex;
  flex-direction: column; }
.pomodoro-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px; }

.pomodoro-home__time-setting {
  font-size: 3rem;
  text-align: center;
  width: 3rem; }
  .pomodoro-home__time-setting p {
    margin: 0; }

.pomodoro-home__timer-label {
  color: tomato;
  font-size: 3rem;
  font-weight: bold; }
  .pomodoro-home__timer-label p {
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 0; }

.pomodoro-home__timer {
  font-size: 5rem; }

.pomodoro-home__label {
  font-size: 2rem;
  margin-bottom: 0;
  padding-bottom: 0; }
.rqm-home__container {
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px 4px #aaa;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10rem;
  max-width: 30rem;
  padding: 2rem;
  padding-bottom: 0; }

.rqm-home__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%; }
  .rqm-home__controls button {
    background-color: cornflowerblue;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0.4rem;
    transition: all 0.3s; }
    .rqm-home__controls button:hover {
      border: 1px solid gray;
      box-shadow: 0 0 3px black; }
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }

.quote__container {
  font-size: 1.2rem;
  margin: auto;
  text-align: center;
  width: 100%; }

.quote__name {
  margin-bottom: 1rem; }

.quote__close {
  font-size: 2rem;
  font-weight: bold; }
.btn {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  height: 2rem;
  width: 8rem;
  max-width: 8rem;
  margin: auto 0.5rem; }

.btn-primary {
  background-color: #337ab7; }
  .btn-primary:hover {
    background-color: #285f8f; }

.btn-danger {
  background-color: #d9534f; }
  .btn-danger:hover {
    background-color: #c9302c; }
.recipe__container textarea {
  box-sizing: border-box;
  min-height: 7rem;
  outline: none;
  overflow: auto;
  padding: 0.5rem;
  resize: none;
  width: 100%; }
  .recipe__container textarea a {
    color: blue; }

.recipe__container input {
  box-sizing: border-box;
  outline: none;
  padding-left: 0.5rem;
  width: 100%; }

.recipe__controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
.rc-collapse {
  background-color: tomato;
  border-radius: 3px;
  border: 1px solid #d9d9d9; }

.rc-collapse-anim-active {
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out; }

.rc-collapse > .rc-collapse-item {
  border-top: 1px solid #d9d9d9; }

.rc-collapse > .rc-collapse-item:first-child {
  border-top: none; }

.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  height: 38px;
  line-height: 38px;
  text-indent: 16px;
  cursor: pointer; }

.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
  display: inline-block;
  content: ' ';
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 4px solid #666;
  vertical-align: middle;
  margin-right: 8px; }

.rc-collapse-content {
  overflow: hidden;
  color: #666;
  padding: 0 16px;
  background-color: #fff; }

.rc-collapse-content > .rc-collapse-content-box {
  margin-top: 16px;
  margin-bottom: 16px; }

.rc-collapse-content-inactive {
  display: none; }

.rc-collapse-item:last-child > .rc-collapse-content {
  border-radius: 0 0 3px 3px; }

.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #666;
  margin-right: 6px; }
.recipe-box-home__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 5rem;
  width: 100vw;
  max-width: 960px; }

.recipe-box-home__collapse {
  min-width: 100%; }

.recipe-box-home__button-add {
  align-self: flex-end;
  margin-top: 2rem;
  margin-right: 0; }

.recipe-box-home__title {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
.circle {
  stroke: black; }
.tooltip__container {
  box-shadow: 2px 2px 2px gray;
  color: #111;
  background-color: rgba(210, 180, 140, 0.85);
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 0.3rem;
  transition: all 0.1s;
  pointer-events: none; }
  .tooltip__container span {
    font-weight: normal; }
.scatterplot__title {
  font-size: 1.2rem;
  font-weight: bold; }
.scatterplot-home__container {
  box-shadow: 0 0 5px 1px teal;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 960px;
  padding: 1rem; }
.pad__container {
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  height: 10rem;
  margin: 2rem;
  padding: 2rem;
  width: 10rem; }
  .pad__container:nth-child(1) {
    background-color: red; }
    .pad__container:nth-child(1).highlighted, .pad__container:nth-child(1):active {
      background-color: #ff6666; }
  .pad__container:nth-child(2) {
    background-color: blue; }
    .pad__container:nth-child(2).highlighted, .pad__container:nth-child(2):active {
      background-color: #6666ff; }
  .pad__container:nth-child(3) {
    background-color: darkorange; }
    .pad__container:nth-child(3).highlighted, .pad__container:nth-child(3):active {
      background-color: #ffba66; }
  .pad__container:nth-child(4) {
    background-color: green; }
    .pad__container:nth-child(4).highlighted, .pad__container:nth-child(4):active {
      background-color: #00e600; }
.simon-game-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 5rem;
  max-width: 960px; }

.simon-game-home__pads {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 40rem; }

.simon-game-home__status {
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin: 1rem; }

.simon-game-home__button-start {
  margin: 1rem; }
  .simon-game-home__button-start button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem; }

.simon-game-home__button-strict button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem; }
.board__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 20rem;
  justify-content: space-around;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 20rem; }
.cell__container {
  align-items: center;
  box-shadow: 0 0 5px gray;
  display: flex;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  height: 30%;
  justify-content: center;
  width: 30%; }
  .cell__container.hidden {
    color: transparent; }
  .cell__container.won {
    box-shadow: 0 0 5px 5px cornflowerblue;
    z-index: 99; }
.controls__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .controls__container button {
    font-size: 1.2rem;
    height: 2rem;
    margin: 1rem;
    outline: none;
    width: 2rem; }

.controls__btn-container {
  margin-bottom: 2rem; }

.controls__button {
  background-color: #fff;
  border: none;
  color: gray;
  box-shadow: 0 0 1px black; }

.controls__button--selected {
  background-color: cornflowerblue;
  border: none;
  box-shadow: 0 0 5px cornflowerblue;
  color: white;
  font-weight: bold; }

.controls__label {
  text-align: center; }
  .controls__label p:first-child {
    font-size: 1.5rem; }
.tictactoe-home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 10rem;
  max-width: 960px; }
  @media (max-width: 400px) {
    .tictactoe-home__container {
      margin-top: 0; } }

.tictactoe-home__status {
  padding-bottom: 1rem; }
.home__button {
  border: none;
  cursor: pointer; }

.home__container {
  color: #222;
  margin: auto;
  margin-top: 3rem;
  max-width: 60rem;
  width: 97vw; }
  .home__container h1 {
    text-align: center; }

.home__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding: 0 2rem; }
  .home__description div p {
    line-height: 1.2rem; }

.home__translations {
  font-size: 0.9rem;
  padding: 0 2rem; }
  .home__translations h2 {
    font-size: 1.1rem; }

.home__links {
  background-color: #f4f1ea;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem 2rem;
  width: 100%; }
  .home__links > button {
    margin-left: 2rem; }
  .home__links > a:last-child {
    margin-left: auto; }
  .home__links > a,
  .home__links > button {
    color: #382110;
    font-weight: bold; }
    .home__links > a:hover,
    .home__links > button:hover {
      text-decoration: underline; }

.home__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .home__title div:first-child {
    margin: auto; }
  .home__title div:nth-child(2) {
    padding-top: 1rem; }
  .home__title a {
    color: blue; }
a {
  color: blue; }

.tribute-page-app__container {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 101vh; }
.channel-name__container {
  color: darkred;
  font-size: 1.2rem;
  font-weight: bold; }

.channel-stream__container {
  color: blue; }
  .channel-stream__container.offline {
    color: gray; }

.channel-bio__container {
  color: #382110;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
.logo__container {
  align-items: center;
  display: flex;
  flex: 0 0 5rem;
  justify-content: center;
  padding-left: 1rem; }
  .logo__container img {
    border-radius: 4px; }
.channel__container {
  background-color: #f4f1ea;
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  word-break: break-word; }
  .channel__container:hover {
    background-color: #e2dbc9; }

.channel-text__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem; }
.channels__container {
  display: flex;
  flex-direction: column; }
.home__container {
  margin: auto;
  margin-top: 3rem;
  max-width: 960px; }
.app__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
.extract__container {
  font-family: Roboto;
  font-size: 1rem;
  padding: 1rem; }
.article__container {
  align-items: center;
  background-color: lightyellow;
  box-shadow: 0 0 5px gray;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  display: flex;
  height: 10rem;
  justify-content: center;
  padding: 1rem;
  transition: box-shadow 0.2s;
  width: 15rem;
  word-break: break-word; }
  .article__container.hidden {
    animation-name: showUp;
    animation-duration: .25s;
    animation-iteration-count: infinite; }

@keyframes showUp {
  from {
    transform: rotate(2deg); }
  to {
    transform: rotate(-2deg); } }
  .article__container:hover {
    box-shadow: 0 0 20px gray;
    z-index: 9999; }
.articles__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
.search__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  .search__container input {
    border: none;
    font-size: 1.5rem;
    outline: none;
    padding-left: 1rem; }
    .search__container input:focus {
      box-shadow: 0 3px 2px -2px cornflowerblue; }
  .search__container form i {
    color: gray; }
  .search__container button {
    background-color: transparent;
    border: none; }

.search__form {
  display: flex;
  flex-direction: row; }
  @media (max-width: 520px) {
    .search__form {
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      line-height: 2rem; } }

.search__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 10rem; }
  @media (max-width: 520px) {
    .search__controls {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 1rem;
      width: 100%; } }
.wikiviewer-home__container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  padding: 2rem;
  padding-bottom: 0;
  padding-top: 1rem;
  width: 100vw; }

.wikiviewer-home__search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2rem; }
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  box-sizing: border-box;
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

a,
button {
  color: inherit;
  transition: 0.3s; }

a {
  text-decoration: none; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

html,
body {
  height: 100%; }

body {
  cursor: default;
  font-family: Roboto, sans-serif;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

div {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
